[n2yo]
api_key = A1B2C3-D4E5F6-G7H8I9-1234
api_url = https://api.n2yo.com/rest/v1/satellite/

[osm]
api_url = https://nominatim.openstreetmap.org/
api_json_ver = jsonv2

[user]
place_name = Valmiera
norad_id = 25544
latitude = 57.54161
longitude = 25.42826
altitude = 45
visibility = 60
prediction_days = 10

[mysql_config]
mysql_host = 127.0.0.1
mysql_db = iss_watcher
mysql_user = root
mysql_pass = root
